{{!--sección-ruta llamada about en el sevidor

<body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <h1>Acerca de nosotros</h1>
    Si tienes alguna queja reclamo o sujerencia puedes comunicarte con nosotros a traves de los siguientes medios:
    <br>
    Correo: andresdelaossa35@gmail.com
    Telefono celular: 3013381816
    <br>
    <br>
    Se recomienda ser paciente con respecto a las respuesta a recibir
  </div>

</div>
<!-- ./wrapper -->