<!--formulario de ingreso del sevidor-->

<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
            Introduzca la información necesaria para las respectivas recomendaciones
        </h1>

        <form action="/adicionar" method="POST"></form>
            
            <div class="form-group">
                Seleccione su lugar de residencia 
                <select name="lugar">
                    <option value="4.75">Sincelejo</option>
                    <option value="4.25">Monteria</option>
                    <option value="5">Barranquilla</option>
                    <option value="5.25">Cartagena</option>
                </select>
            </div>

            <h1 class="h5">
            Ahora, información del hogar
            </h1>
            Seleccione el numero de electrodomesticos con el que cuenta en su hogar<br>

            <div id="lienzo"></div>
            <p id="total"></p>

            <script>
                var electrodomesticos = ["neveras", "ventiladores", "aires acondicionados", 
                "bombillos", "planchas", "tostadoras", "lavadoras",
                "horno microondas"]
                var datos = {
                    "neverasKWh" : 1.36,
                    "ventiladoresKWh" : 0.13,
                    "aires acondicionadosKWh": 2.12,
                    "bombillosKWh" : 0.015 ,
                    "planchasKWh" : 0.74 ,
                    "tostadorasKWh" : 1.02 ,
                    "lavadorasKWh" : 1.2 ,
                    "horno microondasKWh" : 1.4 ,
                }
            </script>

            <script>
                function calcularTotalConsumo() {
                    let total = 0
                    for (i = 0; i < electrodomesticos.length; i++) {
                        total += parseFloat(datos[electrodomesticos[i]]) 
                    }
                    return total.toFixed(2)
                }

                function creareSelectElectrodomestico(nombre) {
                    const selectElectrodomestico = document.createElement('select')
                    selectElectrodomestico.id = nombre
                    selectElectrodomestico.name = nombre

                    for(let i = 0; i <= 10; i++) {
                        const opt = document.createElement('option')
                        opt.value= i
                        opt.innerText = i
                        selectElectrodomestico.appendChild(opt)
                    }

                    return selectElectrodomestico;
                }
                
                function crearSelectHoras(horasId) {
                    const select = document.createElement('select')
                    select.id = horasId
                    select.name = horasId

                    for( let i = 0; i <= 24; i++ ) {
                        const opt = document.createElement('option')
                        opt.value = i
                        opt.innerText = i
                        select.appendChild(opt)
                    }

                    return select
                }
            
                function calcularConsumoElectrodomestico(nombre) {
                    const electrodomesticoSelect = document.getElementById(nombre);
                    const horasSelect = document.getElementById(nombre + "-horas");
                    const resultElement = document.getElementById(nombre + "-resultado");

                    electrodomesticoSelect.addEventListener("change", calcularConsumo);
                    horasSelect.addEventListener("change", calcularConsumo);
                    
                    function calcularConsumo() {
                        const electrodomesticoValue = parseFloat(electrodomesticoSelect.value);
                        const horasValue = parseFloat(horasSelect.value);
                        consumoElectrodomesticos = (electrodomesticoValue * datos[nombre + "KWh"]  * horasValue).toFixed(2)
                        datos[nombre] = consumoElectrodomesticos
                        resultElement.textContent = `Consumo diario: ${consumoElectrodomesticos} KW/h`;
                        document.getElementById('total').innerText = "Consumo diario total: " + calcularTotalConsumo()
                    }
                }
            
                function crearGrupoElectrodomestico(nombre) {
                    const formulario = document.createElement('div')
                    formulario.classList.add("form-group")
                    formulario.id = nombre + "-group" // nevera-group, abanico-group

                    const d1 = document.createElement('div')
                    d1.appendChild(document.createTextNode(nombre))
                    d1.appendChild(creareSelectElectrodomestico(nombre)) // nevera, abanico

                    const d2 = document.createElement('div')
                    d2.appendChild(document.createTextNode('Numero de horas de uso diario'))
                    d2.appendChild(crearSelectHoras(nombre + "-horas")) // nevera-horas, abanico-horas
                    
                    formulario.appendChild(d1)
                    formulario.appendChild(d2)

                    const p = document.createElement('p')
                    p.id = nombre + "-resultado" // nevera-resultado, abanico-resultado
                    formulario.appendChild(p)
                    formulario.style.border = "1px dashed"
                    formulario.style.padding = "8px"

                    return formulario
                }
            </script>

            <script>
                const lienzo = document.getElementById("lienzo")
                
                for (i = 0; i < electrodomesticos.length; i++) {
                    datos[electrodomesticos[i]] = 0
                }
                
                for (let i = 0; i < electrodomesticos.length; i++) {
                    const nombre = electrodomesticos[i]
                    lienzo.appendChild(crearGrupoElectrodomestico(nombre))
                    calcularConsumoElectrodomestico(nombre)
                }
            </script>

            <button class="btn btn-primary btn-block">
                Enviar
            </button>
        </form>
      </div>
    </div>
  </div>
</div>