<!--formulario de ingreso del sevidor-->

<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
            Introduzca la información necesaria para las respectivas recomendaciones
        </h1>

        <form action="/adicionar" method="POST"></form>
            
            <div class="form-group">
                Seleccione su lugar de residencia 
                <select name="lugar">
                    <option value="4.75">Sincelejo</option>
                    <option value="4.25">Monteria</option>
                    <option value="5">Barranquilla</option>
                    <option value="5.25">Cartagena</option>
                </select>
            </div>

            <h1 class="h5">
            Ahora, información del hogar
            </h1>
            Seleccione el numero de electrodomesticos con el que cuenta en su hogar<br>

            <div class="form-group">
                <br>Neveras
                <select id="neveras" name="Neveras">
                    <option value="0">0</option>
                    {{!-- <option value="2.96">1</option> --}}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

                <br>Numero de horas de uso diario
                <select id="horas" name="Hs1">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                </select>

                <p id="result"></p>

                <script>
                    const neverasSelect = document.getElementById("neveras");
                    const horasSelect = document.getElementById("horas");

                    neverasSelect.addEventListener("change", calcularConsumoNevera);
                    horasSelect.addEventListener("change", calcularConsumoNevera);
                    var datos = {
                        neveraKWh : 2.96,
                        nevera : 0
                    }
                    
                    function calcularConsumoNevera(){
                        calcularConsumo("neveras", "horas", "result", "nevera" )  
                    }

                    function calcularConsumo(electrodomesticoId, horasId, resultId, nombreElectrodomestico ) {
                        const electrodomesticoSelect = document.getElementById(electrodomesticoId);
                        const horasSelect = document.getElementById(horasId);
                        const resultElement = document.getElementById(resultId);
                        
                        const electrodomesticoValue = parseFloat(electrodomesticoSelect.value);
                        const horasValue = parseFloat(horasSelect.value);
                        consumoElectrodomesticos = (electrodomesticoValue * datos[nombreElectrodomestico + "KWh"]  * horasValue).toFixed(2)
                        datos[nombreElectrodomestico] = consumoElectrodomesticos
                        resultElement.textContent = `Consumo diario: ${consumoElectrodomesticos} KW/h`;
                        
                    }
                </script>
            </div>

            <button class="btn btn-primary btn-block">
                Enviar
            </button>
        </form>
      </div>
    </div>
  </div>
</div>
