<!--sección-ruta llamada home en el sevidor-->

{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
<div class="image">
  <img src="/img/downloa.jpg" class="img-circle elevation-2" alt="User Image">
</div>
<h1>Sistema de paneles fotovoltaicos.</h1>

<h3>Meta:</h3>
Los sistemas de paneles fotovoltaicos buscan reducir la contaminación del ambiente con el uso de energías limpias, dando paso a un nuevo mundo de posibilidades.
<br><br>
<h3>Objetivo especificos:</h3>
Con este proyecto deseamos motivar a las personas a usar el sistema de paneles fotovoltaico conveniente para su lugar de residencia.
</div>
<!-- ./wrapper -->




