<!--sección-ruta llamada proyecto en el sevidor-->

{{!-- <body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <div class="image">
              <img src="/img/download.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <h1 class="m-0 text-dark"> Sostenibilidad económica y energética. Good<small> Sistema de paneles solares fotovoltaicos</small></h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">Tipos de paneles solares y su impacto en el medio ambiente:</h3>

                <p class="card-text">
                  <br>1. Placas solares fotovoltaicas:
                  <br> - Placas solares monocristalinas
                  <br> - Placas solares policristalinas
                  <br> - Placas solares amorfas o de capa fina
                  <br>2. Placas solares térmicas
                  <br> - Colectores de baja temperatura
                  <br> - Colectores de media temperatura
                  <br> - Colectores de alta temperatura
                  <br>3. Placas solares híbridas
                  <br>
                  <br>Para mas información, puedes acceder al link aqui abajo.
                </p>

                <a href="https://www.repsol.com/es/energia-futuro/transicion-energetica/tipos-de-placas-solares/index.cshtml#:~:text=Dentro%20de%20estas%20soluciones%20energ%C3%A9ticas,y%20los%20paneles%20solares%20h%C3%ADbridos." class="card-link">Más info</a>

              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-body">
                <h5 class="card-title">La plataforma permite la creación de usuarios, quienes podrán adicionar Tokens para el registro de información. </h5>
                <a href="/users/signin" class="card-link">Ya estoy registrado</a>
                <a href="/users/signup" class="card-link">Registrarme</a>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">Podras encontrar</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">Es importante:</h6>

                <p class="card-text">Precios, recomendaciones de baterias y paneles adecuados para tu zona de residencia. 
                  <br>para ello debes registrarte.</p>
                <a href="/users/signup" class="card-link">Registrarme</a>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar cossssntent</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->


</div>
<!-- ./wrapper -->

