  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Energias renovables - Manglar 2023
    </div>
    <!-- Default to the left -->
    <strong>Sostenibilidad energetica &copy; 2023 <a href="">"Si lo creés, es posible" </a>.</strong> Puede ser lo que estavas buscando.
  </footer>